.login-separetor {
  border-style: groove hidden hidden hidden;
}

.img-button {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.register-label {
  font-family: -webkit-body;
}

.social-label {
  font-family: cursive;
  color: $light-green;
  text-decoration:underline;
}
