.page-route {
  text-align: right;
  padding-right: 1rem;
  font-style: italic;
  text-decoration: underline;
}

.inner-route {
  font-style: italic;
  text-decoration: underline;
  text-align: left;
  padding-top: 1rem;
  padding-left: 0;
}

.inner-route-register {
  text-decoration: underline;
}
